body {
    font-family: Verdana, Arial, sans-serif;
    font-size: smaller;
    padding: 50px;
    color: #555;
    background-color: #FF9f00;
}

h1 {
    text-align: left;
    letter-spacing: 6px;
    font-size: 1.4em;
    color: #555;
    font-weight: normal;
    width: 450px;
}

h2 {
    text-align: left;
    letter-spacing: 6px;
    font-size: 1.4em;
    color: #000000;
    font-weight: normal;
    width: 450px;
}
h3 {
    text-align: center;
    font-size: 1.0em;
    color: #000000;
    font-weight: normal;
}

h4 {
    text-align: left;
    font-size: 1.0em;
    color: #000000;
    font-weight: normal;
}
table {
    width :auto;
    padding: 10px;
    background-color: #FF9f00;
    color: black;
    border-style: solid;
}

th {
    text-align: left;
    border-bottom: 1px solid;
}

td{
    padding: 3px;
    font-family: Verdana, Arial, sans-serif;
    font-size: smaller;
    text-decoration: dashed;
    text-align: center;
    color: black;
}

a:link {
    color: #be7429;
    font-weight: normal;
    text-decoration: none;
}

input {
    font-family: Verdana, Arial, sans-serif;
    text-decoration: dashed;
    text-align: center;

}

a:link:hover {
    color: #be7429;
    font-weight: normal;
    text-decoration: underline;
}


